# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
.ipynb_checkpoints

# My data of sensitive nature
/data
usable_users.xlsx
weekly_user_profiles.xlsx
daily_user_profiles.xlsx
monthly_user_profiles.xlsx
week_dist_matrix.xlsx
day_dist_matrix.xlsx
month_dist_matrix.xlsx
profiles_translation.csv